
body {
    background-color: purple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    marrgin: 0;
}
.search {
    height: 50px;
    position: relative;
}

.search .btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    background-color: lavender;
    border: 0;
    height: 50px;
    width: 50px;
}

.search .input {
    background-color: lavender;
    border: 0;
    font-size : 18px;
    height: 50px;
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
}